body{
    background-color: #FCFCFC;
    line-height: 20px;
}
.navbar{
    background-color: #49AAE8;
}
.app-soon{
    font-size: 50px;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    top: 50%;
    
}
.about-us{
    text-align: left;
    margin-top: 3em;
}
#privacy{
    margin-top: 3em;
    text-align: left;
}